


#nav179624420 {
  top: 46px;
}

#nav179624420.t199__is__active {
  top: 0;
}

#nav166577349 .t282__container.t282__positionfixed {
  top: 73px;
  background: #fff;
}

#nav166577349 .t282__container.t282__positionfixed.active_scroll {
  top: 0;
}
