


#nav179622904 {
  top: 46px;
}

#nav179622904.t199__is__active {
  top: 0;
}

#nav178014931 .t282__container.t282__positionfixed {
  top: 73px;
  background: #fff;
}

#nav178014931 .t282__container.t282__positionfixed.active_scroll {
  top: 0;
}
